.App {
  text-align: left;
}

body {
  background: #702572;
}

.submenu {
  display: none;
  background: #702572;
  position: absolute;
  right: -170px;
  top: -10px;
  width: 150px;
  z-index: 10;
}
li {
  position: relative;
}
.parentItem {
  position: relative;
}
.parentItem:hover .submenu {
  display: block;
}
.parentItem:hover .submenu {
  padding-top: 10px;
  padding-left: 15px;
  padding-bottom: 10px;
  padding-right: 5px;
}